.container-utente {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 1em;
}

.container-info-utente {
    display: flex;
    margin: 5em auto 0 auto;
    flex-wrap: wrap;
}

.container-img-utente {
    padding: 10px;
    flex: 1 1 100px;
}

.img-utente {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.dati-main-utente {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1em;
    flex-direction: column;
    border-left: 1px solid #fff;
    width: 9em;
}

.container-anagrafici {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.container-paese{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}


.container-anagrafici p,
.container-paese p{
    margin-top: 0;
}

.container-option {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 20px;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
}

.options .option{
    list-style: none;
    flex: 1 1 100px;
    text-align: center;
    display: block;
}


.options .option a{
    position: relative;
    text-decoration: none;
    padding-bottom: .5rem;
    transition: .20s all ease;
    cursor: pointer;
}

.options .option.active a,
.options .option a:hover{
    color: var(--scritte);
    transition: .15s all ease;
}

.options .option a:after{
    content: '';
    display: inline-block;
    height: 10px;
    background-color: var(--scritte);
    position: absolute;
    right: 100%;
    bottom: -1px;
    left: 0;
    border-radius: 50%;
    transition: .15s all ease;
}

.options .option a:hover:after,
.options .option.active a::after{
    height: 2px;
    right: 0;
    bottom: 2px;
    border-radius: 0;
    transition: .20s all ease;
}


.dati-main-utente>div,
.options li.option {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .dati-main-utente {
        flex-direction: column;
        padding-left: 0;
        border-left: none;
        align-items: center;
    }

    .container-anagrafici,
    .container-paese {
        padding-left: 0;
        border: none;
    }

    .options {
        padding-left: 0;
        list-style-type: none;
        padding-inline-start: 0;
        flex-direction: column;
        align-items: center;
    }

    .options li.option {
        border: none;
        flex: 1 1 auto;
        width: 100%;
        text-align: center;
    }

    .container-info-utente {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2em 0;
    }
}

.container-choice{
    margin: 3em 3em 10em;
    display: flex;
    justify-content: center;
}

/*-- WISHLIST --*/
#wishlist{
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
}

#wishlist .actions{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin-top: 1em;
}

#wishlist .actions p{
    cursor: pointer;
}

#wishlist .container-preferiti{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 22px;
}
#wishlist .container-card{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 1em 2em;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

#wishlist .container-info-card{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex: 0.5;
}

#wishlist .container-info-card .cont-img-card img{
    width: 363px;
    height: 232px;
}

#wishlist .container-info-card .cont-img-card{
    width: 100%;
}

#wishlist .info-card,
#wishlist .actions-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wishlist .info-card{
    width: 70%;
    margin-left: 1em;
}

#wishlist .prezzo{
    margin-top: 10px;
}

#wishlist .actions-card{
    flex-direction: row;
    width: 10%;
    justify-content: space-around;
    font-size: 25px;
    flex: 0.1;
}

#wishlist .actions-card i{
    cursor: pointer;
}



@media (max-width: 1120px){
    #wishlist .container-info-card{
        flex: 0.7;
    }
}

@media (max-width: 768px) {
    #wishlist .container-card {
        flex-direction: column;
        padding: 1em;
    }

    #wishlist .container-info-card {
        flex-direction: column;
        align-items: center;
    }

    #wishlist .info-card {
        margin: 1em;
        text-align: center;
    }

    #wishlist .actions-card {
        justify-content: space-around;
        width: 100%;
    }

    #wishlist .actions{
        width: 100%;
        padding: 0 50px;
    }

    #wishlist .container-preferiti{
        width: unset;
    }
}

@media (max-width: 970px){
    #wishlist .actions-card i{
        margin-left: 1em;
    }

    #wishlist .actions-card i{
        margin: 0;
    }
}

@media (min-width: 769px) and (max-width: 971px) {

    #wishlist .container-card{
        margin: 1em 0;
    }

    #wishlist .info-card{
        width: 20%;
    }

    #wishlist .actions-card{
        flex: 0.2;
    }

}

@media (max-width: 560px){
    #wishlist{
        margin: 1em 0 0 0;
    }

    #wishlist .actions{
        padding: 0;
    }

    #wishlist .container-card{
        margin: 0;
    }

}

@media (max-width: 442px){
    #wishlist .container-info-card .cont-img-card img{
        max-width: 100%;
        height: auto;
    }

    .container-choice{
        margin: 0;
    }
}

@media (max-width: 340px) {
    #wishlist .actions{
        flex-direction: column;
    }

    #wishlist .actions .add-all{
        margin-top: 1em;
    }
}

/*-- ORDINI EFFETTUATI --*/
#ordini-effettuati{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#ordini-effettuati .mese{
    display: flex;
    width: 80%;
    flex-direction: column;
    flex:1;
}

#ordini-effettuati .mese > h2{
    margin-bottom: 1em;
}

#ordini-effettuati .container-ordini{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#ordini-effettuati .ordine{
    margin: 1em 0 3em 0;
    padding: 30px;
    box-shadow: 0 0 10px 10px #00000029;
    background-color: var(--sfondo4);
}

#ordini-effettuati .container-info{
    display: flex;
}

#ordini-effettuati .container-games{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
}

#ordini-effettuati .game{
    flex: 0 1 calc(25% - 10px);
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
}

#ordini-effettuati .game img{
    width: 12em;
}

#ordini-effettuati .info-main{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#ordini-effettuati .more{
    cursor: pointer;
    height: fit-content;
    padding: 0;
    font-size: 30px;
}

#ordini-effettuati .info h4{
    margin: 5px 0;
}

#ordini-effettuati .key{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#ordini-effettuati .key p{
    margin: 5px 0;
}

#ordini-effettuati .key i{
    cursor: pointer;
}

#ordini-effettuati .mostra-meno{
    float: right;
    cursor: pointer;
}

#ordini-effettuati .hidden{
    display: none;
}
/* TODO gestire il responsive */