.container-utente {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 1em;
}

.container-info-utente {
    display: flex;
    margin: 5em auto 0 auto;
    flex-wrap: wrap;
}

.container-img-utente {
    padding: 10px;
    flex: 1 1 100px;
}

.img-utente {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.dati-main-utente {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1em;
    flex-direction: column;
    border-left: 1px solid #fff;
    width: 9em;
}

.container-anagrafici {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.container-regione{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}


.container-anagrafici p,
.container-regione p{
    margin-top: 0;
}

.container-option {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
}

.options .option{
    text-align: center;
    list-style: none;
    flex: 1 1 100px;
    display: block;
}


.options .option a{
    position: relative;
    text-decoration: none;
    padding-bottom: .5rem;
    transition: .20s all ease;
    cursor: pointer;
}

.options .option.active a,
.options .option a:hover{
    color: var(--scritte);
    transition: .15s all ease;
}

.options .option a:after{
    content: '';
    display: inline-block;
    height: 10px;
    background-color: var(--scritte);
    position: absolute;
    right: 100%;
    bottom: -1px;
    left: 0;
    border-radius: 50%;
    transition: .15s all ease;
}

.options .option a:hover:after,
.options .option.active a::after{
    height: 2px;
    right: 0;
    bottom: 2px;
    border-radius: 0;
    transition: .20s all ease;
}


.dati-main-utente>div,
.options li.option {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .dati-main-utente {
        flex-direction: column;
        padding-left: 0;
        border-left: none;
        align-items: center;
    }

    .container-anagrafici,
    .container-regione {
        padding-left: 0;
        border: none;
    }

    .options {
        padding-left: 0;
        list-style-type: none;
        padding-inline-start: 0;
        flex-direction: column;
        align-items: center;
    }

    .options li.option {
        border: none;
        flex: 1 1 auto;
        width: 100%;
        text-align: center;
    }

    .container-info-utente {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2em 0;
    }
}

.container-choice{
    margin: 3em 3em 10em;
    display: flex;
    justify-content: center;
}

/*-- WISHLIST --*/
#wishlist{
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
}

#wishlist .actions{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin-top: 1em;
}

#wishlist .actions p{
    cursor: pointer;
}

#wishlist .container-preferiti{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 22px;
}
#wishlist .container-card{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 1em 2em;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

#wishlist .container-info-card{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex: 0.5;
}

#wishlist .container-info-card .cont-img-card img{
    width: 363px;
    height: 232px;
}

#wishlist .container-info-card .cont-img-card{
    width: 100%;
}

#wishlist .info-card,
#wishlist .actions-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wishlist .info-card{
    width: 70%;
    margin-left: 1em;
}

#wishlist .prezzo{
    margin-top: 10px;
}

#wishlist .actions-card{
    flex-direction: row;
    width: 10%;
    justify-content: space-around;
    font-size: 25px;
    flex: 0.1;
}

#wishlist .actions-card i{
    cursor: pointer;
}



@media (max-width: 1120px){
    #wishlist .container-info-card{
        flex: 0.7;
    }
}

@media (max-width: 768px) {
    #wishlist .container-card {
        flex-direction: column;
        padding: 1em;
    }

    #wishlist .container-info-card {
        flex-direction: column;
        align-items: center;
    }

    #wishlist .info-card {
        margin: 1em;
        text-align: center;
    }

    #wishlist .actions-card {
        justify-content: space-around;
        width: 100%;
    }

    #wishlist .actions{
        width: 100%;
        padding: 0 50px;
    }

    #wishlist .container-preferiti{
        width: unset;
    }
}

@media (max-width: 970px){
    #wishlist .actions-card i{
        margin-left: 1em;
    }

    #wishlist .actions-card i{
        margin: 0;
    }
}

@media (min-width: 769px) and (max-width: 971px) {

    #wishlist .container-card{
        margin: 1em 0;
    }

    #wishlist .info-card{
        width: 20%;
    }

    #wishlist .actions-card{
        flex: 0.2;
    }

}

@media (max-width: 560px){
    #wishlist{
        margin: 1em 0 0 0;
    }

    #wishlist .actions{
        padding: 0;
    }

    #wishlist .container-card{
        margin: 0;
    }

}

@media (max-width: 442px){
    #wishlist .container-info-card .cont-img-card img{
        max-width: 100%;
        height: auto;
    }

    .container-choice{
        margin: 0;
    }

    #ordini-effettuati .mese{
        margin-top: 1em;
    }
}

@media (max-width: 340px) {
    #wishlist .actions{
        flex-direction: column;
    }

    #wishlist .actions .add-all{
        margin-top: 1em;
    }
}

/*-- ORDINI EFFETTUATI --*/
#ordini-effettuati{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#ordini-effettuati .mese{
    display: flex;
    width: 80%;
    flex-direction: column;
    flex:1;
}

#ordini-effettuati .mese > h2{
    margin-bottom: 1em;
}

#ordini-effettuati .container-ordini{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#ordini-effettuati .ordine{
    margin: 1em 0 3em 0;
    padding: 30px;
    box-shadow: 0 0 10px 10px #00000029;
    background-color: var(--sfondo4);
}

#ordini-effettuati .container-info{
    display: flex;
}

#ordini-effettuati .container-games{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
    flex-wrap: wrap;
}

#ordini-effettuati .game{
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 10px);
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
}

#ordini-effettuati .game img{
    width: 12em;
    height: 7.5em;
}

#ordini-effettuati .info-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#ordini-effettuati .more{
    cursor: pointer;
    height: fit-content;
    padding: 0;
    font-size: 30px;
    text-align: center;
    flex: 1 1 100%;
}

#ordini-effettuati .info h4{
    margin: 5px 0;
}

#ordini-effettuati .key{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#ordini-effettuati .key p{
    margin: 5px 0;
}

#ordini-effettuati .key i{
    cursor: pointer;
}

#ordini-effettuati .mostra-meno{
    float: right;
    cursor: pointer;
    margin-right: 2em;
    margin-top: 2em;
}

@media (max-width: 1068px){
    #ordini-effettuati .container-ordini{
        width: 100%;
    }
}

@media (max-width: 883px){
    #ordini-effettuati .game{
        padding: 0;
        margin: 9px;
    }

    #ordini-effettuati .ordine{
        padding: 10px;
    }
}

@media (max-width: 470px) {
    #ordini-effettuati .container-ordini{
        width: unset;
    }
}

@media (max-width: 600px) {
    #ordini-effettuati .mese{
        width: 100%;
    }
}


/*-- Metodi Pagamento --*/
#metodi-pagamento{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#metodi-pagamento .container-card{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
}

#metodi-pagamento .carta{
    display: flex;
    flex: 1 1 100%;
    border-bottom: 1px solid rgb(128, 128, 128);
    padding: 2em;
}

#metodi-pagamento .info-container{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;

}

#metodi-pagamento .info{
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1 1 100%;
}

#metodi-pagamento .info img{
    width: 195px;
    height: 125px;
}

#metodi-pagamento .container-main-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}


#metodi-pagamento .info-main{
    display: flex;
    justify-content: space-between;
}

#metodi-pagamento .data_scadenza{
    display: flex;
    text-align: center;
    margin-top: 2em;
}

#metodi-pagamento .actions{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#metodi-pagamento .actions div{
    cursor: pointer;
    font-size: 25px;
}

#metodi-pagamento form{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction:column;
}

#metodi-pagamento form div{
    display:flex;
    margin: 0.3em 0;
    flex-direction:column;
    align-items: center;
}

#metodi-pagamento form div:last-child{
    padding:20px;
    margin:auto;

}

#metodi-pagamento form input{
    text-align: center;
    width: fit-content;
    padding: 2px;
    border-radius: 1em;
    border: 1px solid var(--sfondo2);
    font-size: 15px;
}

#metodi-pagamento input[type="submit"] {
    cursor: pointer !important;
    padding: 4px;
}

#ordini-effettuati .hidden, #metodi-pagamento .hidden{
    display: none;
}

@media (max-width: 930px){
    #metodi-pagamento .container-card{
        width: 100%;
    }
}

@media (max-width: 768px) {

    #metodi-pagamento .carta {
        flex-direction: column;
        padding: 3em 1em;
    }

    #metodi-pagamento .info {
        flex-direction: column;
        align-items: center;
    }

    #metodi-pagamento .info-main{
        flex-direction: column;
    }

    #metodi-pagamento #info-numero{
        margin-top: 1em;
    }

    #metodi-pagamento .container-main-info {
        width: 100%;
        margin-top: 2em;
        margin-left: 0;
        align-items: center;
        text-align: center;
    }

    #metodi-pagamento .data_scadenza {
        margin-top: 1em;
    }

    #metodi-pagamento .actions {
        width: fit-content;
    }
}

@media (max-width: 480px) {



    #metodi-pagamento .actions div {
        font-size: 25px;
    }

    #metodi-pagamento form input {
        font-size: 17px;
    }


    #metodi-pagamento input[type="submit"] {
        padding: 3px;
    }

}

@media (min-width: 1100px) {
    #metodi-pagamento .container-card {
        width: 70%;
    }

    #metodi-pagamento .carta {
        padding: 3em;
    }

    #metodi-pagamento .info img {
        width: 200px;
        height: 130px;
    }

    #metodi-pagamento .actions div {
        font-size: 28px;
    }
}


/*-- MODIFICA DATI */
#modifica-dati{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#modifica-dati .modifica{
    cursor: pointer;
}

#modifica-dati .disabled {
    pointer-events: none;
    opacity: 0.6;
}

#modifica-dati form{
    display:flex;
    flex-direction:column;
    padding: 40px 0;
    width:60%
}

#modifica-dati .container-input-row{
    display:flex;
    gap:100px;
    flex-wrap:wrap;
}

#modifica-dati .container-input{
    display:flex;
    flex-direction:column;
    padding:20px;
    flex: 0.5;
}

#modifica-dati form .input{
    padding:10px;
    border-radius:20px;
    font-size:20px;
    text-align:center;
    border:none;
}

#modifica-dati .input[type="submit"]{
    cursor: pointer;
    display: none;
    width:40%;
    margin:2em auto auto;
    text-align:center;
}

#modifica-dati .success{
    display: none;
    font-size: 22px;
    text-align: center;
    color: #00c300;
}

#modifica-dati label{
    font-size:20px;
}

#modifica-dati form span{
    font-size:15px;
    width:100%;

}
#modifica-dati form select{
    width:auto;
}

@media (max-width:1360px){
    #modifica-dati .container-input-row{
        gap: 0;
        flex-direction:column;
    }
    #modifica-dati .container-input{
        display:flex;
        padding:20px;
    }
    #modifica-dati label{
        margin:auto;
    }
    #modifica-dati .input[type="submit"]{
        width:70%;

    }
}
@media (max-width:650px){
    #modifica-dati label{
        font-size:17px;
    }
    #modifica-dati .input{
        font-size:17px;
    }

    #modifica-dati .modifica{
        margin-top: 2em;
    }
    #modifica-dati form{
        width:40%;
        align-items:center;
    }
    #modifica-dati form select{
        width:14em;
    }
}
@media (max-width:355px){
    #modifica-dati label{
        font-size:14px;
    }
    #modifica-dati .input{
        font-size:14px;

    }
}
