.carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.carousel img {

    pointer-events: none;
    width: 50px;
    height: 340px;
    object-fit: cover;
    border-radius: 40px;
    cursor: pointer;
    transition: width 0.5s ease-in-out;
}

.carousel .card.expanded img {
    pointer-events: auto;
    width: 400px;
}

.carousel .card {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

.carousel .card-content {
    position: relative;
    width: 100%;
}

.carousel .info {
    border-radius: 0px 0px 40px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(10, 48, 84, 0.79);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.carousel .card.expanded .info {
    opacity: 1;
    pointer-events: auto;
}

.carousel .disabled {
    pointer-events: none;
    cursor: default;
}

@media (max-width: 360px){
    .carousel{
        display: none;
    }
}

@media (max-width: 790px) {

    .carousel{
        width: 100%;
    }

    .carousel .info{
        font-size: 11px;
    }

    .carousel img {
        width: 40px;
        height: 200px;
    }

    .carousel .card.expanded img {
        width: 200px;
    }
}