.container-error{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 7em auto;
    gap: 20px;
    font-size: 20px;
    padding: 1em;
}

.container-error p:last-child{
    margin-top: 5em;
}

.container-error p:last-child :hover{
    color: var(--hover);
}