@import "https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css";

:root{
    --sfondo: #0F487D;
    --sfondo3: #0A3054;
    --sfondo4: #135CA1;
    --hover: #1E8EF7;
    --sfondo2: #1977CF;
    --scritte: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1977CF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: block;
    font-family: barlow, arial, sans-serif;
    font-weight: 400;
    color: var(--scritte);
    background: var(--sfondo) url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png") repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
}
@keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

a {
    text-decoration: none;
    color: var(--scritte);
}

ul {
    list-style: none;
}

